{% extends 'base.html' %}
<!--{% load staticfiles %}-->

{% block content %}



<div class="row">
  {% for product in products %}
  <div class="col-sm-6 col-md-4">
    {% if product.image %}
    <div class="thumbnail">
      <img src='{{ MEDIA_URL }}{{ product.image }}' width="400"
           height="400"
      />
      <div class="caption">
        <h3>{{ product.name }}</h3>
      </div>
    </div>
  </div>

  {% endif %}
  {% endfor %}
</div>



<!--{% for product in products %}-->
<!--<div>-->
<!--{% if product.image %}-->
<!--<img src='{{ MEDIA_URL }}{{ product.image }}'-->

<!--width="400"-->
<!--height="400"-->
<!--/>-->
<!--{% endif %}-->
<!--</div>-->
<!--{% endfor %}-->

{% endblock %}